README.md text eol=lf
* text=auto eol=lf

path/to/missing/file1.ext !text !filter !merge !diff
path/to/missing/file2.ext !text !filter !merge !diff
path/to/missing/file3.ext !text !filter !merge !diff
